footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-top: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Ajusta el padding según sea necesario */
}

.row {
    display: flex;
    justify-content: center; /* Center the social media icons */
    align-items: center; /* Center vertically */
    flex-wrap: wrap;
}

.col.social {
    display: flex;
    flex-direction: row;
}

.social a {
    margin: 0 25px; 
}

.footerCopyright {
    text-align: center;
    background-color: #d3b587; 
    color: black;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
    position: absolute; 
    left: 0;
}
